@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}

button {
  height: 42px !important;
  border-radius: 2px !important;
  box-shadow: none !important;
}
